---
http_interactions:
- request:
    method: get
    uri: https://vannstand.kartverket.no/tideapi.php?datatype=tab&dst=0&fromtime=2026-09-01T00:00&lang=en&lat=60.398046&lon=5.320487&refcode=cd&tide_request=locationdata&totime=2027-09-30T23:59&tzone=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <tide>
        <locationdata>
        <location name="Bergen" code="BGO" latitude="60.398046" longitude="5.320487" delay="0" factor="1.00" obsname="Bergen" obscode="BGO" descr="Tides from Bergen"/>
        <reflevelcode>CD</reflevelcode>
        <data type="prediction" unit="cm" qualityFlag="1" qualityClass="Quality High" qualityDescription="High quality data: It has been verified against measurements that the data represents physical conditions.">
        <waterlevel value="29.6" time="2026-09-01T06:01:00+00:00" flag="low"/>
        <waterlevel value="151.9" time="2026-09-01T12:30:00+00:00" flag="high"/>
        <waterlevel value="38.6" time="2026-09-01T18:12:00+00:00" flag="low"/>
        <waterlevel value="156.5" time="2026-09-02T00:40:00+00:00" flag="high"/>
        <waterlevel value="36.4" time="2026-09-02T06:37:00+00:00" flag="low"/>
        <waterlevel value="147.1" time="2026-09-02T13:12:00+00:00" flag="high"/>
        <waterlevel value="46.0" time="2[...]
