---
http_interactions:
- request:
    method: post
    uri: https://ddapi20-waterwebservices.rijkswaterstaat.nl/ONLINEWAARNEMINGENSERVICES/OphalenWaarnemingen
    body:
      encoding: UTF-8
      string: '{"Locatie":{"Code":"stavenisse"},"AquoPlusWaarnemingMetadata":{"AquoMetadata":{"ProcesType":"astronomisch","Groepering":{"Code":"GETETBRKD2"}}},"Periode":{"Begindatumtijd":"2027-05-01T00:00:00.000+00:00","Einddatumtijd":"2028-05-30T23:59:59.000+00:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Succesvol":true,"WaarnemingenLijst":[{"AquoMetadata":{"BemonsteringsApparaat":{"Code":"8000","Omschrijving":"NVT"},"BemonsteringsMethode":{"Code":"NVT","Omschrijving":"NVT"},"BemonsteringsSoort":{"Code":"NVT","Omschrijving":"NVT"},"BioTaxon":{"Code":"NVT","Omschrijving":"NVT"},"BioTaxonType":{"Code":"","Omschrijving":""},"Compartiment":{"Code":"OW","Omschrijving":"Oppervlaktewater"},"Eenheid":{"Code":"DIMSLS","Omschrijving":"dimensieloos"},"Groepering":{"Code":"GETETBRKD2","Omschrijving":"Getijextreem
        berekend"},"Grootheid":{"Code":"NVT","Omschrijving":"NVT"},"Hoedanigheid":{"Code":"NVT","Omschrijving":"NVT"},"MeetApparaat":{"Code":"8000","Omschrijving":"NVT"},"Orgaan":{"Code":"NVT","Omschrijving":"NVT"},"Parameter":{"Code":"NVT","Omschrijving":"NVT"},"Parameter_Wat_Omschrijving":"Getijextreemtype
        astronomisch in Oppervlaktewater","ProcesType":"astronomisch","Typering":{"Code":"GETETTPE","Omschrijving":"Getijextreemtype"},"WaardeBepalingsMethode":{"Code":"other:F012","Omschrijving":"Astronomische
        waterhoogte mbv harmonische analyse"},"WaardeBepalingsTechniek":{"Code":"NVT","Omschrijving":"NVT"},"WaardeBewerkingsMethode":{"Code":"NVT","Omschrijving":"NVT"}},"Locatie":{"Code":"stavenisse","Coordinatenstelsel":"ETRS89","Lat":51.598,"Lon":4.004,"Naam":"Stavenisse","Omschrijving":"Stavenisse"},"MetingenLijst":[{"Meetwaarde":{"Waarde_Alfanumeriek":"laagwater","Waarde_Numeriek":0.0},"Tijdstip":"2027-05-01T05:08:00.000+01:00","WaarnemingMetadata":{"Bemonsteringshoogte":"-999999999","Kwaliteitswaardecode":"00","OpdrachtgevendeInstantie":"RIKZMON_WAT","Referentievlak":"NVT","Statuswaarde":"Ongecontroleerd"}},{"Meetwaarde":{"Waarde_Alfanumeriek":"hoogwater","Waarde_Numeriek":0.0},"Tijdstip":"2027-05-01T11:39:00.000+01:00","WaarnemingMetadata":{"Bemonsteringshoogte":"-999999999","Kwaliteitswaardecode":"00","OpdrachtgevendeInstantie":"RIKZMON_WAT","Referentievlak":"NVT","Statuswaarde":"Ongecontroleerd"}},{"Meetwaarde":{"Waarde_Alfanumeriek":"laagwater","Waarde_Numeriek":0.0},"Tijdstip":"2027-05-01T17:49:00.000+01:00","WaarnemingMetadata":{"Bemonsteringshoogte":"-999999999","Kwalitei[...]
