---
http_interactions:
- request:
    method: post
    uri: https://ddapi20-waterwebservices.rijkswaterstaat.nl/ONLINEWAARNEMINGENSERVICES/OphalenWaarnemingen
    body:
      encoding: UTF-8
      string: '{"Locatie":{"Code":"stavenisse"},"AquoPlusWaarnemingMetadata":{"AquoMetadata":{"ProcesType":"astronomisch","Groepering":{"Code":"GETETBRKD2"}}},"Periode":{"Begindatumtijd":"2029-05-01T00:00:00.000+00:00","Einddatumtijd":"2030-05-30T23:59:59.000+00:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 Oct 2026 20:34:04 GMT
recorded_with: VCR 6.4.0
