---
http_interactions:
- request:
    method: post
    uri: https://ddapi20-waterwebservices.rijkswaterstaat.nl/METADATASERVICES/OphalenCatalogus
    body:
      encoding: UTF-8
      string: '{"CatalogusFilter":{"Grootheden":true,"Groeperingen":true,"Hoedanigheden":true,"ProcesTypes":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Succesvol":true,"AquoMetadataLijst":[{"AquoMetadata_MessageID":173,"Groepering":{"Code":"GETETBRKD2","Omschrijving":"Getijextreem
        berekend"},"Grootheid":{"Code":"NVT","Omschrijving":"NVT"},"Hoedanigheid":{"Code":"NVT","Omschrijving":"NVT"},"Parameter_Wat_Omschrijving":"Getijextreemtype
        astronomisch in Oppervlaktewater","ProcesType":"astronomisch"},{"AquoMetadata_MessageID":174,"Groepering":{"Code":"GETETBRKDMSL2","Omschrijving":"Getijextreem
        berekend t.o.v. MSL"},"Grootheid":{"Code":"NVT","Omschrijving":"NVT"},"Hoedanigheid":{"Code":"NVT","Omschrijving":"NVT"},"Parameter_Wat_Omschrijving":"Getijextreemtype
        astronomisch in Oppervlaktewater","ProcesType":"astronomisch"},{"AquoMetadata_MessageID":242,"Groepering":{"Code":"","Omschrijving":""},"Grootheid":{"Code":"WATHTE","Omschrijving":"Waterhoogte"},"Hoedanig[...]
- request:
    method: post
    uri: https://ddapi20-waterwebservices.rijkswaterstaat.nl/ONLINEWAARNEMINGENSERVICES/OphalenAantalWaarnemingen
    body:
      encoding: UTF-8
      string: '{"LocatieLijst":[{"Code":"ameland.nes"},{"Code":"antwerpen.prosperpolder"},{"Code":"beerkanaal"},{"Code":"denhelder.marsdiep"},{"Code":"harlingen.waddenzee"},{"Code":"hoekvanholland"},{"Code":"knock"},{"Code":"stavenisse"},{"Code":"vlissingen"}],"AquoMetadataLijst":[{"ProcesType":"astronomisch","Groepering":{"Code":"GETETBRKD2"},"Typering":{"Code":"GETETTPE"}}],"Groeperingsperiode":"Jaar","Periode":{"Begindatumtijd":"2026-10-06T00:00:00.000+00:00","Einddatumtijd":"2026-11-06T00:00:00.000+00:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Succesvol":true,"AantalWaarnemingenPerPeriodeLijst":[{"AantalMetingenPerPeriodeLijst":[{"AantalMetingen":119,"Groeperingsperiode":{"Jaarnummer":2026}}],"AquoMetadata":{"BemonsteringsApparaat":{"Code":"8000","Omschrijving":"NVT"},"BemonsteringsMethode":{"Code":"NVT","Omschrijving":"NVT"},"BemonsteringsSoort":{"Code":"NVT","Omschrijving":"NVT"},"BioTaxon":{"Code":"NVT","Omschrijving":"NVT"},"BioTaxonType":{"Code":"","Omschrijving":""},"Compartiment":{"Code":"OW","Omschrijving":"Oppervlaktewater"},"Eenheid":{"Code":"DIMSLS","Omschrijving":"dimensieloos"},"Groepering":{"Code":"GETETBRKD2","Omschrijving":"Getijextreem
        berekend"},"Grootheid":{"Code":"NVT","Omschrijving":"NVT"},"Hoedanigheid":{"Code":"NVT","Omschrijving":"NVT"},"MeetApparaat":{"Code":"8000","Omschrijving":"NVT"},"Orgaan":{"Code":"NVT","Omschrijving":"NVT"},"Parameter":{"Code":"NVT","Omschrijving":"NVT"},"Parameter_Wat_Omschrijving":"Getijextreemtype
        astronomisch in Oppervlaktewater","ProcesType":"astronomisch","Typering":{"Code":"GETETTPE","Omschrijving":"Getijextreemtype"},"WaardeBepalingsMethode":{"Code":"other:F012","Omschrijving":"Astronomische
        waterhoogte mbv harmonische analyse"},"WaardeBepalingsTechniek":{"Code":"NVT","Omschrijving":"NVT"},"WaardeBewerkingsMethode":{"Code":"NVT","Omschrijving":"NVT"}},"Locatie":{"Code":"harlingen.waddenzee","Coordinatenstelsel":"ETRS89","Lat":53.175634,"Lon":5.409342,"Naam":"Harlingen,
        Waddenzee","Omschrijving":"Harlingen, Waddenzee"},"WaarnemingMetadata":{"Bemonsteringshoogte":"-999999999","OpdrachtgevendeInstantie":"RIKZMON_WAT","Referentievlak":"NVT"}},{"AantalMetingenPerPeriodeLijst":[{"AantalMetingen":120,"Groeperingsperiode":{"Jaarnummer":2026}}],"AquoMetadata":{"BemonsteringsApparaat":{"Code":"8000","Omschrijving":"NVT"},"BemonsteringsMethode":{"Code":"NVT","Omschrijving":"NVT"},"BemonsteringsSoort":{"Code":"NVT","Omschrijving":"NVT"},"BioTaxon":{"Code":"NVT","Omschrijving":"NVT"},"BioTaxonType":{"Code":"","Omschrijving":""},"Compartiment":{"Code":"OW","Omschrijving":"Oppervlaktewater"},"Eenheid":{"Code":"DIMSLS","Omschrijving":"di[...]
