<h1>WebCalTides Server</h1>

<p>

<form action="/search" accept-charset="UTF-8" method="POST">
    <div class="field">
        <label for="searchtext">Station Search (name, id, region, etc)</label>
        <input type="text" name="searchtext" id="searchtext" />
        <input type="submit" name="search" value="Search" data-disable-with="Search" />
    </div>
</form>

<p>

Written by Jordan Ritter &lt;jpr5@darkridge.com&gt;.  Project source at <a href="https://github.com/jpr5/webcaltides">GitHub</a>.
