<html>
<head>
    <title>WebCalTides Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body class="container">

<h1 class="display-4">WebCalTides Server</h1>

<p class="lead">
WebCalTides is a free service that provides tides, currents and sunrise/sunset
calendars for your favorite NOAA station.  Data is pulled from
<a href="https://tidesandcurrents.noaa.gov/tide_predictions.html">tidesandcurrents.noaa.gov</a>.
Just search for a station, then click the webcal link to subscribe.  Works on
Apple iCal & Google Calendar; maybe Outlook too.
</p>

    <%= yield %>

<p/>

Written by Jordan Ritter &lt;jpr5@darkridge.com&gt;.  Project source at <a href="https://github.com/jpr5/webcaltides">GitHub</a>.

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>
