<h1>WebCalTides Server</h1>

WebCalTides is a free service that provides high/low tides and sunrise/sunset
events for your favorite NOAA station on your calendar.  Search for a station,
then click the webcal link to subscribe (works with Apple iCal and Google
Calendar, maybe works with Outlook too - YMMV).

<p/>

    <%= yield %>

<p/>

Written by Jordan Ritter &lt;jpr5@darkridge.com&gt;.  Project source at <a href="https://github.com/jpr5/webcaltides">GitHub</a>.
