<h1>WebCalTides Server</h1>

WebCalTides is a free service that provides high/low tides and sunrise/sunset
events for your favorite NOAA station on your calendar.  Data is pulled directly
from <a href="https://tidesandcurrents.noaa.gov/tide_predictions.html">tidesandcurrents.noaa.gov</a>.
Just search for a station, then click the webcal link to subscribe.  Works on
Apple iCal & Google Calendar; maybe Outlook too.

<p/>

    <%= yield %>

<p/>

Written by Jordan Ritter &lt;jpr5@darkridge.com&gt;.  Project source at <a href="https://github.com/jpr5/webcaltides">GitHub</a>.
