---
http_interactions:
- request:
    method: get
    uri: https://gezeiten.bsh.de/data/DE__717P_tides.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 09 Jul 2026 11:33:40 GMT
      Etag:
      - '"6a4f8714-a9253"'
    body:
      encoding: UTF-8
      string: |-
        {
           "station_name": "Hamburg, Cranz, Este-Sperrwerk, AP",
           "bshnr": "717P",
           "latitude": 53.53583,
           "longitude": 9.79167,
           "gauge_group": 1,
           "seo_id": "hamburg_cranz",
           "pegelonline_uuid": "e6b42536-6bf8-42e3-8ef5-7d1a283a8608",
           "has_wvd": false,
           "years": [
              {
                 "2026": {
                    "level_tidalvalues": "PNP",
                    "MHW": 705,
                    "MNW": 350,
                    "MHWI": "15:00",
                    "MNWI": "22:17",
                    "MFD": "7:17",
                    "MSD": "5:08",
                    "MTH": 355,
                    "MSpHW": 719,
                    "MSpNW": 343,
                    "MSpTH": 376,
                    "MNpHW": 685,
                    "MNpNW": 361,
                    "MNpTH": 324,
                    "PNP (unter NHN)": -505,
                    "SKN (unter NHN)": -193,
                    "SKN (ueber PNP)": 312,
                    "notice": [],
                    "has_height": true,
                    "has_curve": true,
                    "hwnw_prediction": {
                       "level": "PNP",
                       "data": [
                          {
                             "timestamp": "2026-08-31 13:18:00+01:00",
                             "height": 352,
                             "type": "NW",
                             "moon": null,
                             "phase": "SP"
                          },
                          {
                             "timestamp": "2026-08-31 18:18:00+01:00",
                             "height": 734,
                             "type": "HW",
                             "moon": null,
                             "phase": "SP"
                          },
                          {
                             "timestamp": "2026-09-01 01:43:00+01:00",
                             "height": 355,
                     [...]
